@model IEnumerable<InventarioVentasMVC.Models.Proveedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RazonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.RazonSocial)
            </td>
            <td>
                @Html.DisplayFor(model => item.NIT)
            </td>
            <td>
                @Html.DisplayFor(model => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(model => item.Email)
            </td>
            <td>
                @Html.DisplayFor(model => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(model => item.Activo)
            </td>
                <td>
                    @Html.DisplayFor(model => item.FechaCreacion)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProveedorId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProveedorId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProveedorId">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
