@model IEnumerable<InventarioVentasMVC.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
}

<h1>Usuarios</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">
        Crear Nuevo Usuario
    </a>
</p>

<table class="table table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>

            <th width="220px">
                Acciones
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Rol)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Activo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.FechaCreacion)
                </td>

                <td>
                    <a asp-action="Edit"
                       asp-route-id="@item.UsuarioId"
                       class="btn btn-warning btn-sm">
                        Editar
                    </a>

                    <a asp-action="Details"
                       asp-route-id="@item.UsuarioId"
                       class="btn btn-info btn-sm">
                        Detalles
                    </a>

                    <a asp-action="Delete"
                       asp-route-id="@item.UsuarioId"
                       class="btn btn-danger btn-sm">
                        Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>